//fonts
$fontHeaders: 'Droid Serif', serif;
$fontPrimary: 'Arvo', serif;
$fontSecondary: 'Slabo 27px', serif;
//colors
//palette
$c1: #FCFFF5;
$c2: #D1DBBD;
$c3: #91AA9D;
$c4: #3E606F;
$c5: #193441;
//background colors
$pageBackgroundColor: $c2;
$bodyBackgroundColor: $c4;
$backgroundColor: $c5;//#faead6;
$headerBackgroundColor: darken($backgroundColor, 15);
//text colors
$textColor: $c3;//#333;
$textShadowColor: /*$c1;*/ darken($textColor, 10);
//element colors
$borderColor: $textShadowColor;
$listItemHoverColor: rgba(166, 214, 230, 0.3);

//measurements
$border-width: 2px;
//badge variables
$badge-min-size: 32px;
$badge-size: 64px;
$badge-shadow-size: $badge-size / 10;
$badge-margin: $badge-shadow-size * 1.4;
//$badge-margin: $badge-size / 10;
$badge-inner-container-size: $badge-size * sin(pi() / 4);
$badge-img-size: $badge-size * 0.5;