@import "imports";

// centrification
.center-h {
    position: absolute; left: 50%;
    transform: translateX(-50%);
}
.center-v {
    position: absolute; left: 0; top: 50%;
    transform: translateY(-50%);
}
.center { position: absolute; left: 50%; top: 50%; 
    transform: translateX(-50%) translateY(-50%);
}
// borders
.border-t { border-top: $border-width solid $borderColor; }
.border-b { border-bottom: $border-width solid $borderColor; }
.border-tb {
    border-top: $border-width solid $borderColor;
    border-bottom: $border-width solid $borderColor; }
// All elements
* {
    @include box-sizing(border-box);    
    //border: 1px double white;
}
// html and body
html, body {
    @include background($pageBackgroundColor);
    margin: auto;
    font-family: $fontPrimary;
    //font-size: 2vmin;//62.5%;
    text-align: justify;
    color: $textColor;
}
// bodyContainer
#bodyContainer {
    width: 90%;
    margin: auto;
    z-index: 0; 
}
// canvas
canvas { 
    position: fixed;
    overflow: hidden;
    z-index: -10;
}
// square on canvas
.popSquare {
    position: fixed;
    zIndex: 0;
}
// headings
#{headings()} {
    margin: 0.5rem;
    font-family: $fontHeaders;
    font-weight: 700;
    letter-spacing: 0.4rem;
    @include text-shadow(1px 1px 0px rgba($textShadowColor, 0.4), -1px -1px 1px rgba(black,0.6));
    word-wrap: break-word;
}
h1 { margin: 2rem 0.5rem; }
#{headings(2,6)} { letter-spacing: 2px; }
#{headings(1,3)} { text-align: center; }
#{headings(4,6)} { text-align: left; }
h4 {
    display: inline-block;
    border: $border-width solid $borderColor;
    border-top-color: transparent;
    margin-top: -$border-width;
    padding: 0.3rem; 
    padding-bottom: 0.3rem;     
}
h6 {
    font-family: $fontSecondary;
    font-size: small;
    letter-spacing: 0.13rem;
}
small > i { word-wrap: break-word; }
// change view button 
#changeView {
    position: fixed;
    top: 0;
    right: 0;
    $changeView_border_width: 20px / 2.5;
    width: 20px;
    height: 20px;
    border-left: $changeView_border_width solid transparent;
    border-top: $changeView_border_width solid $c3;
    border-right: $changeView_border_width solid $c4;
    border-bottom: $changeView_border_width solid transparent;
}
#changeView:hover {
    $changeView_border_width: 25px / 2.5;
    width: 25px;
    height: 25px;
    border-left: $changeView_border_width solid transparent;
    border-top: $changeView_border_width solid $c3;
    border-right: $changeView_border_width solid $c4;
    border-bottom: $changeView_border_width solid transparent;
}
// sections
section {
    font-family: $fontPrimary;
    padding: 1px 10px;
}
#heading {
    @include background(linear-gradient(to bottom,
        lighten($headerBackgroundColor, 20),
        $headerBackgroundColor));
    #info {
        margin: auto;
        text-align: center;
        overflow: hidden;
        ul.horizontal {
            margin: auto;
            padding: 0px;
            font-family: $fontSecondary;
            li {
                display: inline-block;
                margin-left: -2px; margin-right: -2px;
                i { margin-left: 0.5rem; margin-right: 0.5rem; }
            }
        }
        hr {
            border-width: 0;
            @include background($borderColor);
            height: $border-width * 2;
            margin: 0px auto $border-width;
            font-size: 0;
        }
    }
}
#objective {
    @include background(linear-gradient(to bottom,
        $headerBackgroundColor,
        $backgroundColor,
        $c4,$c4,
        $backgroundColor));
}
#experience {
    @include background(linear-gradient(to bottom, $headerBackgroundColor, $c4, $c5));
    color: $c3;
}
#education {
    @include background(linear-gradient(to bottom,
        $headerBackgroundColor,
        $backgroundColor,
        $c5));
}
//p
p { margin: 0.5rem; }
//anchor
a:link, a:visited {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
//unordered list
ul.normal, ol.normal {
    margin: 0.5rem;
    li {
        margin-left: -0.5rem;
        margin-right: 0.5rem;
    }
}
//table
table {
    width: 100%;
    border-collapse: collapse;
    td {
        //padding-bottom: 2*$badge-margin;
        text-align: center;        
    }
}
//ul.badge-container
.badge-container {
    display: table;
    min-height: $badge-size;
    margin: auto;
    padding: 0px;
}
//li.badge
.badge {
    display: inline-block;
    position: relative;
    //position: absolute;
    width: $badge-size;
    height: $badge-size;
    min-width: $badge-min-size;
    min-height: $badge-min-size;
    margin: $badge-margin;
    @include background($pageBackgroundColor);
    color: invert($pageBackgroundColor);
    text-align: center;
    white-space: nowrap;
    @include text-shadow(
        1px 1px 40px lighten(invert($pageBackgroundColor), 50),
        -1px -1px 4px lighten(invert($pageBackgroundColor), 50));
    @include box-shadow(inset 0px 0px $badge-shadow-size $c5, -$badge-shadow-size 0px $badge-shadow-size $c4, $badge-shadow-size 0px $badge-shadow-size $c4);
    border-radius: 50%;
    overflow: hidden;
}
.badge .background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;    
    @include filter(blur(8px));
}
.badge .inner {    
    display: block;
    position: absolute;
    width: $badge-inner-container-size;
    height: $badge-inner-container-size;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    font-family: $fontSecondary;
    img {
        display: inherit;
        margin: auto;
        width: $badge-img-size;
    }
    //div { border: 1px solid black;}
}
.badge:hover {
    @include background(lighten($c5, 5));
    @include box-shadow(
        inset 0 0 ($badge-size / 5) darken($c5, 20),
        0 0 ($badge-size / 5) $badge-shadow-size darken($c5, 20));
}
//style to change view of the page to printable view
.print {
    .border-t, .border-b, .border-tb { border-color: black; }
    #heading > #info > hr { @include background(black); }
    html, body, #{headings()}, #heading, #objective, #experience, #education {
        @include background(white);
        color: black;
        @include text-shadow(none);
        border-color: black;
    }
    .badge {
        @include box-shadow();
        @include filter(grayscale(100%));
        .background { display: none }
        .inner > div { @include background(transparent); }
    }
    .badge:hover {
        @include background(transparent);
        .background { display: block }
    }
}
@media print {    
    .no-print, .no-print * { display: none !important; }
}