<!DOCTYPE html>
<html ng-app="Resume">
    <head>
        <!--meta-->
        <meta charset="utf-8">
        <!--stylesheets-->
        <link rel="stylesheet" href="styles.css">
        <!--scripts-->
        <script src="http://localhost:35729/livereload.js"></script>
        <script src="node_modules/angular/angular.js"></script>
        <script src="js/jquery-1.11.3.min.js"></script>
        <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="js/velocity.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/scripts.js"></script>
    </head>
    <body>
        <div id="changeView" class="no-print" title="Go to printable page view"></div>
        <div id="bodyContainer">
            <section id="heading">
                <h1>Dmitrii Serikov</h1>
                <div class="border-tb" id="info">
                    <ul class="horizontal">
                        <li>3293 Barrington Dr.<i class="fa fa-certificate"></i></li>
                        <li>Medina, OH 44256<i class="fa fa-certificate"></i></li>
                        <li>(216) 970-907-1<i class="fa fa-certificate"></i></li>
                        <li><a href="mailto:dmitrii.serikov@gmail.com" style="none">dmitrii.serikov@gmail.com</a></li>
                    </ul>
                    <hr>
                </div>
            </section>
            <!--heading-->
            <section id="objective">
                <div id="role">
                    <h3>Entry-Level Software Developer</h3>
                    <p>A result-driven Software Developer with a good understanding of the Object Oriented Principles who can work on a problem and solve it. Always learning new technologies and concepts and trying to experiment with them.</p>
                </div>
                <div class="border-tb">
                    <h3>Specialties</h3>
                </div>
                <table ng-controller="BadgeController">
                    <tr ng-repeat="row in data">
                        <td colspan="{{(item.colspan != undefined) ? item.colspan : ''}}"
                            width="{{item.width}}"
                            ng-repeat="item in row.col">
                            {{item.name}}:
                            <ul class="badge-container"
                                size="{{(item.size) ? item.size : 64}}"
                                shape="{{(item.shape === undefined) ? '' : item.shape}}">
                                <li class="badge"
                                    size="{{(badge.size) ? badge.size : (item.size) ? item.size : 64}}"
                                    ng-repeat="badge in item.badges">
                                    <a href="{{badge.href}}" title="{{(badge.tooltip === undefined) ? badge.title : badge.tooltip}}">
                                        <div class="background"                                             
                                             style="{{backgroundStyle(badge)}}"
                                             ng-hide="badge.no_image"></div>
                                        <div class="inner">
                                            <img ng-hide="badge.no_image" ng-src="{{imageSrc(badge)}}"/>
                                            <div ng-class="{center: badge.no_image}">{{badge.title}}</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </section>
            <div class="page-footer">This resume available online by this link: </div>
            <div class="page-break"></div>
            <!--objective-->
            <section id="experience">
                <div class="border-b">
                    <h3>Professional Experiense</h3>
                </div>
                <div>
                    <h4><a href="http://smartmetering.ru/">LLC "EC EAC" - Saint-Petersburg, Russia</a></h4>
                    <h5><u>Team Lead of Department of Maintaning Servers</u>, September 2009 – May 2015</h5>
                    <h5>Key Results:</h5>
                    <ul class="normal">                    
                        <li>Managed a team of specialists to provide trouble-free operation of customers retail servers.</li>
                        <li>Created plans and schedules to maintain customers servers</li>
                        <li>Organized emergency servers maintenance</li>
                        <li>Verified team member's work</li>
                        <li>Checked if the whole system was online</li>
                        <li>Created reports and reported to manager</li>
                        <li>Controled branch software supplies</li>
                        <li>Helped to maintain branch Windows 2003 servers, branch domain controller servers</li>
                        <li>Helped to set up and maintain campus Kerio WinRoute and Kerio Control network protection products</li>
                        <li>Helped to maintain campus LAN and provided branch user support</li>
                    </ul>
                </div>
            </section>
            <!--experience-->
            <section id="education">
                <div class="border-tb"><h3>Education / Certification / Projects</h3></div>
                <div class="border-b">
                    <h4>Education</h4>
                    <h5>THE BONCH-BRUEVICH SAINT-PETERSBURG STATE UNIVERSITY OF TELECOMMUNICATIONS — Saint-Petesburg, Russia</h5>
                    <p>
                        <small>
                            Specialist Degree / Information Systems – 2009<br>
                            (US equivalent: B.S. Computer Science)
                        </small>
                    </p>
                </div>
                <div class="border-b">
                    <h4>Certificates</h4>
                    <h5>ORACLE CERTIFIED ASSOCIATE, JAVA SE 7 PROGRAMMER — December, 2014</h5>
                </div>
                <div>
                    <h4>Projects</h4>
                    <ol class="normal" ng-controller="ProjectsController">
                        <li ng-repeat="project in filtered = (data | filter: query)">
                            <h5>{{project.title}}</h5>
                            <small>
                                <i>
                                    <div ng-show="project.link && project.tooltip">
                                        <u>Link:</u><br>
                                        <u><a href="{{project.link}}" title="{{project.tooltip}}">{{project.link}}</a></u>
                                    </div>
                                    <div class="technologie" 
                                         ng-repeat="techs in project.techs">
                                        <div class="technologie-title-span"
                                             ng-show="techs.length > 0"><u>{{techTitles[$index]}}:</u></div>
                                        <span class="technologie-span"
                                              ng-class="{first:$first}"
                                              style="padding-left: {{(tech.no_image) ? '10' : '0'}}px"
                                              ng-repeat="tech in techs">
                                            <img class="technologie-badge"
                                                 title="{{tech.title}}"
                                                 ng-src="{{imageSrc(tech)}}"
                                                 ng-hide="{{tech.no_image}}"/>
                                            <span title="{{tech.title}}"
                                                  style="display: inline-block; height: 24px; vertical-align: {{((tech.no_image) ? 'sub' : 'initial')}}">{{tech.title}}</span>
                                        </span>
                                    </div>
                                    <div ng-show="project.description"><u>Description:</u><br></div>
                                </i>
                            </small>
                            <h6 ng-show="project.description">{{project.description}}</h6>
                            <hr ng-show="$index < filtered.length - 1">
                        </li>
                    </ol>
                </div>
            </section>
            <!--education-->
        </div>
    </body>
</html>