@import url("http://fonts.googleapis.com/css?family=Droid+Serif:400,700|Arvo|Slabo+27px");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url("http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css");
/* line 4, sass/styles.scss */
.center-h {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

/* line 8, sass/styles.scss */
.center-v {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); }

/* line 12, sass/styles.scss */
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%); }

/* line 16, sass/styles.scss */
.border-t {
  border-top: 2px solid #749483; }

/* line 17, sass/styles.scss */
.border-b {
  border-bottom: 2px solid #749483; }

/* line 18, sass/styles.scss */
.border-tb {
  border-top: 2px solid #749483;
  border-bottom: 2px solid #749483; }

/* line 23, sass/styles.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 28, sass/styles.scss */
html, body {
  background-color: #D1DBBD;
  background-image: url('/images/Hexagon-1.jpg?1451913831');
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  margin: auto;
  font-family: "Arvo", serif;
  text-align: justify;
  color: #91AA9D; }

/* line 39, sass/styles.scss */
#bodyContainer {
  width: 90%;
  margin: auto;
  z-index: 0; }

/* line 45, sass/styles.scss */
canvas {
  position: fixed;
  overflow: hidden;
  z-index: -10; }

/* line 51, sass/styles.scss */
.popSquare {
  position: fixed;
  zIndex: 0; }

/* line 56, sass/styles.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0.5rem;
  font-family: "Droid Serif", serif;
  font-weight: 700;
  letter-spacing: 0.4rem;
  text-shadow: 1px 1px 0px rgba(116, 148, 131, 0.4), -1px -1px 1px rgba(0, 0, 0, 0.6);
  word-wrap: break-word; }

/* line 64, sass/styles.scss */
h1 {
  margin: 2rem 0.5rem; }

/* line 65, sass/styles.scss */
h2, h3, h4, h5, h6 {
  letter-spacing: 2px; }

/* line 66, sass/styles.scss */
h1, h2, h3 {
  text-align: center; }

/* line 67, sass/styles.scss */
h4, h5, h6 {
  text-align: left; }

/* line 68, sass/styles.scss */
h4 {
  display: inline-block;
  border: 2px solid #749483;
  border-top-color: transparent;
  margin-top: -2px;
  padding: 0.3rem;
  padding-bottom: 0.3rem; }

/* line 76, sass/styles.scss */
h6 {
  font-family: "Slabo 27px", serif;
  font-size: small;
  letter-spacing: 0.13rem; }

/* line 81, sass/styles.scss */
small > i {
  word-wrap: break-word; }

/* line 83, sass/styles.scss */
#changeView {
  position: fixed;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-left: 8px solid transparent;
  border-top: 8px solid #91AA9D;
  border-right: 8px solid #3E606F;
  border-bottom: 8px solid transparent; }

/* line 95, sass/styles.scss */
#changeView:hover {
  width: 25px;
  height: 25px;
  border-left: 10px solid transparent;
  border-top: 10px solid #91AA9D;
  border-right: 10px solid #3E606F;
  border-bottom: 10px solid transparent; }

/* line 105, sass/styles.scss */
section {
  font-family: "Arvo", serif;
  padding: 1px 10px; }

/* line 109, sass/styles.scss */
#heading {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIwNDM1MyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA0MDgwYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #204353), color-stop(100%, #04080a));
  background: -moz-linear-gradient(top, #204353, #04080a);
  background: -webkit-linear-gradient(top, #204353, #04080a);
  background: linear-gradient(to bottom, #204353, #04080a); }
  /* line 113, sass/styles.scss */
  #heading #info {
    margin: auto;
    text-align: center;
    overflow: hidden; }
    /* line 117, sass/styles.scss */
    #heading #info ul.horizontal {
      margin: auto;
      padding: 0px;
      font-family: "Slabo 27px", serif; }
      /* line 121, sass/styles.scss */
      #heading #info ul.horizontal li {
        display: inline-block;
        margin-left: -2px;
        margin-right: -2px; }
        /* line 124, sass/styles.scss */
        #heading #info ul.horizontal li i {
          margin-left: 0.5rem;
          margin-right: 0.5rem; }
    /* line 127, sass/styles.scss */
    #heading #info hr {
      border-width: 0;
      background: #749483;
      height: 4px;
      margin: 0px auto 2px;
      font-size: 0; }

/* line 136, sass/styles.scss */
#objective {
  background: url('/images/Hexagon-3.jpg?1451764288');
  /*linear-gradient(to bottom, 
  $headerBackgroundColor,
  $backgroundColor,
  $c4,$c4,
  $backgroundColor),*/
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  color: #2e2442; }
  /* line 146, sass/styles.scss */
  #objective .border-tb {
    border-top: 2px solid #2e2442;
    border-bottom: 2px solid #2e2442; }

/* line 151, sass/styles.scss */
#experience {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA0MDgwYSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjM2U2MDZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMTkzNDQxIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #04080a), color-stop(50%, #3e606f), color-stop(100%, #193441));
  background: -moz-linear-gradient(top, #04080a, #3e606f, #193441);
  background: -webkit-linear-gradient(top, #04080a, #3e606f, #193441);
  background: linear-gradient(to bottom, #04080a, #3e606f, #193441);
  color: #91AA9D; }

/* line 155, sass/styles.scss */
#education {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA0MDgwYSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMTkzNDQxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMTkzNDQxIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #04080a), color-stop(50%, #193441), color-stop(100%, #193441));
  background: -moz-linear-gradient(top, #04080a, #193441, #193441);
  background: -webkit-linear-gradient(top, #04080a, #193441, #193441);
  background: linear-gradient(to bottom, #04080a, #193441, #193441); }

/* line 161, sass/styles.scss */
.technologie {
  /*height: 24px;
  margin: 3px 0;*/
  text-align: left; }

/* line 166, sass/styles.scss */
.technologie-title-span {
  display: inline-block;
  height: 24px;
  vertical-align: middle;
  /*margin-right: 10px;*/ }

/* line 172, sass/styles.scss */
.technologie-span.first {
  margin-left: 10px; }

/* line 175, sass/styles.scss */
.technologie-span {
  display: inline-block;
  height: 24px;
  margin-right: 10px;
  padding-right: 10px;
  border: 1px solid #91AA9D;
  border-radius: 24px;
  overflow: hidden; }

/* line 184, sass/styles.scss */
.technologie-badge {
  width: 24px;
  vertical-align: middle; }

/* line 189, sass/styles.scss */
p {
  margin: 0.5rem; }

/* line 191, sass/styles.scss */
a:link, a:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

/* line 197, sass/styles.scss */
ul.normal, ol.normal {
  margin: 0.5rem; }
  /* line 199, sass/styles.scss */
  ul.normal li, ol.normal li {
    margin-left: -0.5rem;
    margin-right: 0.5rem; }

/* line 205, sass/styles.scss */
table {
  width: 100%;
  border-collapse: collapse; }
  /* line 208, sass/styles.scss */
  table td {
    text-align: center; }

/* line 214, sass/styles.scss */
.badge-container {
  display: table;
  min-height: 80px;
  margin: auto;
  padding: 0px; }

/* line 221, sass/styles.scss */
.badge {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  min-width: 32px;
  min-height: 32px;
  margin: 5.6px;
  background: #D1DBBD;
  color: #2e2442;
  text-align: center;
  white-space: nowrap;
  text-shadow: 1px 1px 40px #ab9cc9, -1px -1px 4px #ab9cc9;
  -moz-box-shadow: inset 0px 0px 4px #193441, -4px 0px 4px #3E606F, 4px 0px 4px #3E606F;
  -webkit-box-shadow: inset 0px 0px 4px #193441, -4px 0px 4px #3E606F, 4px 0px 4px #3E606F;
  box-shadow: inset 0px 0px 4px #193441, -4px 0px 4px #3E606F, 4px 0px 4px #3E606F;
  border-radius: 50%;
  overflow: hidden; }

/* line 241, sass/styles.scss */
.badge .background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-filter: blur(8px);
  filter: blur(8px); }

/* line 252, sass/styles.scss */
.badge .inner {
  display: block;
  position: absolute;
  width: 56.56854px;
  height: 56.56854px;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  font-family: "Slabo 27px", serif; }
  /* line 263, sass/styles.scss */
  .badge .inner img {
    display: inherit;
    margin: auto;
    width: 40px; }

/* line 270, sass/styles.scss */
.badge:hover {
  background: #204353;
  -moz-box-shadow: inset 0 0 16px black, 0 0 16px 4px black;
  -webkit-box-shadow: inset 0 0 16px black, 0 0 16px 4px black;
  box-shadow: inset 0 0 16px black, 0 0 16px 4px black; }

/* line 278, sass/styles.scss */
.print .border-t, .print .border-b, .print .border-tb {
  border-color: black; }
/* line 279, sass/styles.scss */
.print #heading > #info > hr {
  background: black; }
/* line 280, sass/styles.scss */
.print html, .print body, .print h1, .print h2, .print h3, .print h4, .print h5, .print h6, .print #heading, .print #objective, .print #experience, .print #education {
  background: white;
  color: black;
  text-shadow: none;
  border-color: black; }
/* line 286, sass/styles.scss */
.print .badge, .print .technologie-badge {
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  /* line 289, sass/styles.scss */
  .print .badge .background, .print .technologie-badge .background {
    display: none; }
  /* line 290, sass/styles.scss */
  .print .badge .inner > div, .print .technologie-badge .inner > div {
    background: transparent; }
/* line 292, sass/styles.scss */
.print .badge:hover {
  background: transparent; }
  /* line 294, sass/styles.scss */
  .print .badge:hover .background {
    display: block; }

@media screen {
  /* line 298, sass/styles.scss */
  .page-footer {
    display: none; } }
@media print {
  /* line 303, sass/styles.scss */
  .no-print, .no-print * {
    display: none !important; }

  /* line 304, sass/styles.scss */
  .page-break {
    page-break-after: always; }

  /* line 305, sass/styles.scss */
  .page-footer {
    display: table-footer-group;
    position: fixed;
    bottom: 0; } }
