@import url("http://fonts.googleapis.com/css?family=Droid+Serif|Arvo|Slabo+27px");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
/* line 3, sass/styles.scss */
html {
  background-color: #D1DBBD; }

/* line 4, sass/styles.scss */
body {
  width: 90%;
  background-color: transparent;
  z-index: 0; }

/* line 5, sass/styles.scss */
html, body {
  margin: auto;
  font-family: "Arvo", serif;
  text-align: justify;
  color: #91AA9D;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 14, sass/styles.scss */
canvas {
  position: fixed;
  overflow: hidden;
  z-index: -10; }

/* line 19, sass/styles.scss */
.popSquare {
  position: fixed;
  zIndex: 0; }

/* line 24, sass/styles.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Droid Serif", serif;
  text-align: center;
  text-shadow: inset 0px 0px 2px #749483;
  text-shadow: 1px 1px 0px rgba(116, 148, 131, 0.6), -1px -1px 1px rgba(0, 0, 0, 0.6); }

/* line 30, sass/styles.scss */
h2, h3, h4, h5 {
  letter-spacing: 0.2rem;
  margin: 0.5rem;
  text-align: center; }

/* line 35, sass/styles.scss */
h5 {
  text-align: left; }

/* line 37, sass/styles.scss */
.center-h {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

/* line 38, sass/styles.scss */
.center-v {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); }

/* line 39, sass/styles.scss */
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%); }

/* line 49, sass/styles.scss */
.border-t {
  border-top: 0.3vmin solid #749483; }

/* line 50, sass/styles.scss */
.border-b {
  border-bottom: 0.3vmin solid #749483; }

/* line 51, sass/styles.scss */
.border-tb {
  border-top: 0.3vmin solid #749483;
  border-bottom: 0.3vmin solid #749483; }

/* line 53, sass/styles.scss */
#triangles {
  position: fixed;
  width: 100%;
  height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0px solid green;
  font-size: 0px;
  z-index: -1; }

/* line 66, sass/styles.scss */
.t {
  display: inline-block;
  width: 0;
  height: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0.2; }

/* line 75, sass/styles.scss */
section {
  font-family: "Arvo", serif;
  padding: 1px 10px; }

/* line 79, sass/styles.scss */
#heading {
  background-color: #04080a; }

/* line 80, sass/styles.scss */
#info {
  margin: auto;
  text-align: center;
  overflow: hidden; }

/* line 85, sass/styles.scss */
a:link, a:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

/* line 90, sass/styles.scss */
ul.horizontal {
  margin: auto;
  padding: 0px;
  font-family: "Slabo 27px", serif; }
  /* line 94, sass/styles.scss */
  ul.horizontal li {
    display: inline-block; }
    /* line 97, sass/styles.scss */
    ul.horizontal li i {
      margin: 1vmin; }

/* line 100, sass/styles.scss */
hr {
  border-width: 0;
  background: #749483;
  height: 0.6vmin;
  margin: 0px auto 0.3vmin;
  font-size: 0; }

/* line 107, sass/styles.scss */
#objective {
  background-color: #193441; }

/* line 108, sass/styles.scss */
#experience {
  background-color: #3E606F; }

/* line 109, sass/styles.scss */
#education {
  background-color: #193441; }

/* line 112, sass/styles.scss */
table {
  position: relative;
  width: 100%;
  height: 200px;
  border: 1px solid white; }
  /* line 117, sass/styles.scss */
  table td {
    position: relative;
    margin: auto;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    border: 1px solid white; }
    /* line 125, sass/styles.scss */
    table td div {
      border: inherit; }
    /* line 126, sass/styles.scss */
    table td span {
      border: inherit; }
    /* line 127, sass/styles.scss */
    table td .badge-container {
      width: 100%;
      height: 100%; }

/* line 135, sass/styles.scss */
.badge-container {
  display: table;
  max-height: 50vh;
  min-height: 96px;
  margin: auto;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px dashed white; }

/* line 148, sass/styles.scss */
.badge {
  display: inline-block;
  position: absolute;
  width: 96px;
  height: 96px;
  min-width: 64px;
  min-height: 64px;
  margin: 19.2px;
  background-color: #D1DBBD;
  color: #2e2442;
  text-shadow: inset 0px 0px 2px #749483;
  text-shadow: 1px 1px 3px #ab9cc9, -1px -1px 3px #ab9cc9;
  text-align: center;
  white-space: nowrap;
  box-shadow: inset 0px 0px 9.6px #193441, -9.6px 0px 9.6px #3E606F, 9.6px 0px 9.6px #3E606F;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: inherit;
  border-radius: 50%;
  overflow: hidden; }

/* line 171, sass/styles.scss */
.badge .background {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-filter: blur(8px);
  filter: blur(8px); }

/* line 180, sass/styles.scss */
.badge .inner {
  display: block;
  width: 67.88225px;
  height: 67.88225px;
  position: absolute;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border: inherit; }
  /* line 193, sass/styles.scss */
  .badge .inner img {
    display: inherit;
    margin: auto;
    width: 48px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: inherit; }
  /* line 200, sass/styles.scss */
  .badge .inner div {
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: inherit; }
    /* line 206, sass/styles.scss */
    .badge .inner div span {
      font-family: "Slabo 27px", serif;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: inherit; }

/* line 217, sass/styles.scss */
.badge.hover, .badge:hover {
  background-color: #204353;
  box-shadow: inset 0 0 19.2px black, 0 0 19.2px 9.6px black; }
  /* line 222, sass/styles.scss */
  .badge.hover img, .badge:hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
  /* line 223, sass/styles.scss */
  .badge.hover span, .badge:hover span {
    -webkit-filter: invert(100%);
    filter: invert(100%); }
