<mat-toolbar color="primary" class="mat-elevation-z2">

    <!-- Avatar button -->
    <div [ngClass]="{ 'mat-elevation-z2' : avatarHover }">
        <div matRipple [matRippleColor]="rippleColor" class="avatar-btn" (click)="avatarClick()"
            (mouseenter)="avatarHover = true" (mouseleave)="avatarHover = false"></div>
    </div>

    <!-- Title -->
    <span>{{title}}</span>

    <span class="example-spacer"></span>

    <!-- Links -->
    <button *ngFor="let link of links" mat-button (click)="linkClick(link)">{{link}}</button>

</mat-toolbar>