@import "/src/theme.scss";

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  padding: 0;
  background-image: url("/assets/images/Hexagon-1.jpg");
  background-blend-mode: luminosity;
  background-size: cover;
}

.avatar-btn {
  width: 82px;
  height: 80px;
  background-color: mat-color($accent);
  background-size: 100% 100%;
  background-image: url("/assets/images/avatar.jpg");
  background-repeat: no-repeat;
  border-radius: 0;
  clip-path: polygon(0 100%, 0 0, 100% 0, 80% 80%);
}
