@import "imports";

// centrification
.center-h {
    position: absolute; left: 50%;
    transform: translateX(-50%);
}
.center-v {
    position: absolute; left: 0; top: 50%;
    transform: translateY(-50%);
}
.center { position: absolute; left: 50%; top: 50%; 
          transform: translateX(-50%) translateY(-50%);
}
// borders
.border-t { border-top: $border-width solid $borderColor; }
.border-b { border-bottom: $border-width solid $borderColor; }
.border-tb {
    border-top: $border-width solid $borderColor;
    border-bottom: $border-width solid $borderColor;
}
// All elements
* { @include box-sizing(border-box); }
// html and body
html, body {
    background-color: $pageBackgroundColor;
    margin: auto;
    font-family: $fontPrimary;
    //font-size: 2vmin;//62.5%;
    text-align: justify;
    color: $textColor;
}
#bodyBackground {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include background-image(image-url("Hexagon-1.jpg"));
    @include background-size(cover);
    background-repeat: no-repeat;
    z-index: 0;
}
// bodyContainer
#bodyContainer {
    position: relative;
    width: 90%;
    margin: auto;
    z-index: 900;
    @include box-shadow($c4 0px 0px 10px 0px);
}
// change view button 
#changeView {
    position: fixed;    
    top: 0;
    right: 0;
    $changeView_border_width: 20px / 2.5;
    /*width: 200px;
    height: 20px;*/
    padding: 1px 5px;
    //text-align: right;
    background: $c5;
    /*
    rgb(66, 89, 134)    magenta
    rgb(77, 112, 153)
    rgb(99, 117, 136)
    rgb(80, 156, 179) 
    */
    //@include background(linear-gradient(to bottom, rgb(99, 117, 136),  $c2));
    @include background(linear-gradient(to bottom, lighten($c5, 10), $c2, darken($c2, 15), $c2));
    //rgb(121, 197, 220)
    @include box-shadow(-2px 0px $badge-shadow-size $c4, 2px 2px $badge-shadow-size $c4);
    color: $c1;
    border: 1px solid $c2; 
    border-top: none;
    border-right: none;
    border-bottom-left-radius: 5px;
    cursor: pointer;    
    z-index: 1000;        
}
#changeView:hover {
    $changeView_border_width: 25px / 2.5;
    /*width: 25px;
    height: 25px;*/
    border-top-color: $c4;
    border-right-color: $c2;
}
#changeView img {
    display: none;
    width: 32px;
    margin: 10px auto;
}
#changeView a {
    //@include text-shadow(1px 1px 0px #999);
}
// canvas
canvas { 
    position: fixed;
    overflow: hidden;
    z-index: -10;
}
// square on canvas
.popSquare {
    position: fixed;
    z-index: 0;
}
// headings
#{headings()} {
    margin: 0.5rem;
    font-family: $fontHeaders;
    font-weight: 700;
    letter-spacing: 0.4rem;
    //@include text-shadow(1px 1px 0px rgba($textShadowColor, 0.4), -1px -1px 0px rgba(black, 0.6));
    @include text-shadow(1px 1px 1px rgba($textShadowColor, 1));
    word-wrap: break-word;
}
h1 { margin: 2rem 1rem 0.5rem; }
#{headings(2,6)} { letter-spacing: 2px; }
#{headings(1,3)} { text-align: center; }
#{headings(4,6)} { text-align: left; }
h3 {
    font-size: 1.1rem;
    margin: 0.2rem;
}
h4 {
    display: inline-block;
    border: $border-width solid $borderColor;
    border-top-color: transparent;
    margin-top: -$border-width;
    padding: 0.3rem; 
    padding-bottom: 0.3rem;    
    font-size: 1.0rem;
}
h4, h5 { margin-bottom: 3px; }
h5 { letter-spacing: 0px; }
h6 { margin: 4px 0px 8px; }
h5 > span {
    font-family: $fontPrimary;
    /*font-weight: 700;*/
    letter-spacing: 0px;
    @include text-shadow(none);
}
h6 {
    font-family: $fontSecondary;
    font-size: small;
    /*font-weight: 200;*/
    letter-spacing: 0.13rem;
    @include text-shadow(none);
}
.less-margin {
    margin: 0.1rem;
}
small > i { word-wrap: break-word; }
.page3 > section { margin: 0 -10px 8px -10px; }
.page4 > section { margin: 0 -26px 8px -50px; }
// sections
section {
    font-family: $fontPrimary;
    padding: 1px 10px;
}
.heading {
    @include background(linear-gradient(to bottom,
    lighten($headerBackgroundColor, 20),
    $headerBackgroundColor));
}
#title {
    display: inline-block;
    width: calc(100% + 20px);
    margin: -1px -10px -5px;
}
#avatar {
    //border-radius: 100%;
    display: inline-block;
    position: absolute;
    width: 82px;
    //height: calc(100px);    
    -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 80% 80%);
    clip-path: polygon(0 100%, 0 0, 100% 0, 80% 80%);
}
#title h1 {
    display: inline-block;
    width: 100%;
    margin: 2rem 0 1rem;
    padding-left: 82px;
    font-size: 30px;
}
.fa.fa-certificate:before {
    font-style: normal;
    content: "\2739";
}
.info {
    clear: both;
    margin: auto;
    text-align: center;
    overflow: hidden;
    a:hover {
        $alpha : 0.7;
        $blur  : 2px;
        $offset: 2px;
        @include text-shadow(rgba($textColor, $alpha) (-$offset) (-$offset) $blur, rgba($textColor, $alpha) $offset $offset $blur);
    }
    a > li > i { @include text-shadow(none); }
    ul.horizontal {
        margin: auto;
        padding: 0px;
        font-family: $fontSecondary;
        li {
            display: inline-block;
            margin-left: -2px; margin-right: -2px;
            i { margin-left: 0.5rem; margin-right: 0.5rem; }
        }
    }
    hr {
        border-width: 0;
        @include background($borderColor);
        height: $border-width * 2;
        margin: 0px auto $border-width;
        font-size: 0;
    }
}
#objective {
    background-color: $c4;
    /*linear-gradient(to bottom, $headerBackgroundColor, $backgroundColor, $c4, $c4, $backgroundColor)*/
    @include background-image(image-url("Hexagon-3.jpg"));
    @include background-size(cover);
    background-repeat: no-repeat;
    color: $badge-color;
    .border-tb {
        border-top: $border-width solid $badge-color;
        border-bottom: $border-width solid $badge-color;
    }
}
#experience {
    /*@include background(linear-gradient(to bottom, $headerBackgroundColor, $c2, $c5));*/
    background-color: $c2;
    padding-top: 0px;
    /*@include background(linear-gradient(to bottom, $c4, $c2, $c2));*/
    /*
    rgb(66, 89, 134)    magenta
    rgb(77, 112, 153)
    rgb(99, 117, 136)
    rgb(80, 156, 179)   lightblue 
    rgb(149, 172, 168)  turqois-gray
    rgb(166, 206, 187)  turqois
    rgb(201, 202, 178)  beige
    */    
    /*@include background(linear-gradient(to bottom, rgb(66, 89, 134), rgb(80, 156, 179), rgb(149, 172, 168), rgb(166, 206, 187), rgb(201, 202, 178)));*/
    /*@include background(linear-gradient(to bottom, rgb(77, 112, 153), rgb(80, 156, 179), rgb(201, 202, 178)));*/
    @include background(linear-gradient(to bottom, rgb(77, 112, 153), rgb(80, 156, 179),  rgb(80, 156, 179), rgb(201, 202, 178)));
    color: $c5;
}
#education {
    /*@include background(linear-gradient(to bottom, $headerBackgroundColor, $backgroundColor, $c5));*/
    @include background(linear-gradient(to bottom, rgb(201, 202, 178), rgb(166, 206, 187), rgb(149, 172, 168)));
    /*@include box-shadow($c4 0px 5px 5px 0px inset);*/
    color: $c5;
}
.technology {
    /*height: 24px;
    margin: 3px 0;*/
    text-align: left;
}
.technology-title-span {
    display: inline-block;
    height: 24px;
    vertical-align: middle;
    /*margin-right: 10px;*/
}
.technology-span.first {
    margin-left: 10px;
}
.technology-span {
    display: inline-block;
    height: 24px;
    margin-right: 5px;
    padding-right: 10px;
    border: 1px solid $c5;
    border-radius: 24px;
    @include box-shadow(inset 0px 0px $badge-shadow-size rgba($c5, 0.5));
    overflow: hidden;
}
.technology-badge {    
    width: 24px;
    vertical-align: middle;
}
//p
p { margin: 0.5rem; }
//anchor
a:link, a:visited {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
//unordered list
ul.normal, ol.normal {
    margin: 0.5rem;
    li {
        margin-left: -0.5rem;
        margin-right: 0.5rem;
    }
}
.angle-double-right { 
    text-align: left;
    list-style-type: none;
}
.angle-double-right li:before {
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    @include background-image(image-url("../images/arrow-right-double.png"));
    @include background-size(cover);
    content: "";
    margin: 0 5px 0 -20px;
}
#project-list hr {
    margin: 0;
}
//table
table {
    width: 100%;
    border-collapse: collapse;
    td {
        //padding-bottom: 2*$badge-margin;
        text-align: center;        
    }
}
//ul.badge-container
.badge-container {
    display: table;
    min-height: $badge-size;
    margin: auto;
    padding: 0px;
}
//li.badge
.badge {
    display: inline-block;
    position: relative;
    //position: absolute;
    width: $badge-size;
    height: $badge-size;
    min-width: $badge-min-size;
    min-height: $badge-min-size;
    margin: $badge-margin;
    @include background($pageBackgroundColor);
    color: $badge-color;
    text-align: center;
    white-space: nowrap;
    @include text-shadow(
    1px 1px 40px lighten(invert($pageBackgroundColor), 50),
    -1px -1px 4px lighten(invert($pageBackgroundColor), 50));
    @include box-shadow(inset 0px 0px $badge-shadow-size $c5, -$badge-shadow-size 0px $badge-shadow-size $c4, $badge-shadow-size 0px $badge-shadow-size $c4);
    border-radius: 50%;
    overflow: hidden;
}
.badge .background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;    
    @include filter(blur(8px));
}
.badge .inner {    
    display: block;
    position: absolute;
    width: $badge-inner-container-size;
    height: $badge-inner-container-size;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    font-family: $fontSecondary;
    img {
        display: inherit;
        margin: auto;
        width: $badge-img-size;
    }
    //div { border: 1px solid black;}
}
.badge:hover {
    @include background(lighten($c5, 5));
    @include box-shadow(
    inset 0 0 ($badge-size / 5) darken($c5, 20),
    0 0 ($badge-size / 5) $badge-shadow-size darken($c5, 20));
}
//style to change view of the page to printable view
/** { -webkit-text-stroke: 1px rgba(0, 0, 0, 0.4); }*/
.print {
    .border-t, .border-b, .border-tb { border-color: black; }
    .heading > .info > hr { @include background(black); }
    * { -webkit-text-stroke: 1px rgba(0, 0, 0, 0.4); }
    html, body, #bodyContainer, #{headings()}, .heading, #objective, #experience, #education {
        @include background(white);
        background-image: none !important;
        color: black;
        @include box-shadow(0 0 0 0 rgba(0,0,0,0));
        @include text-shadow(none);
        border-color: black;
        /*border: none;
        outline: none;*/
    }
    #avatar { display: none; }
    .heading h1 {
        width: 100%;
        margin: 2rem 0 0.5rem;
        float: none;
    }
    .badge, .technology-badge {
        @include box-shadow();
        @include filter(grayscale(100%));
        .background { display: none }
        .inner > div { @include background(transparent); }
    }
    .badge:hover {
        @include background(transparent);
        .background { display: block }
    }
}
@media only screen and (max-width: 250px) {
    
}
@media only screen and (max-width: 479px) {
    #bodyContainer { width: 100%; margin: 0; }
    #changeView img { display: block; width: 24px; margin: 5px auto;}
    #changeView a { display: none; }
    /*#changeView { width: 32px; }*/
    #avatar { 
        position: relative;
        width: 20%;
        float: left;
    }
    #title h1 {
        width: 80%;
        margin: 6% 0 1rem;
        padding-left: 0;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #changeView img { display: block; }
    #changeView a { display: none; }
    #bodyContainer { width: 90%; }   
    #title h1 { padding-left: 82px; margin-bottom: 1rem; }
}
/* for changeView area only */
@media only screen and (min-width: 450px) and (max-width: 520px) {
    #changeView { padding: 0 2px;}
    #changeView img { width: 24px; }
}
/****************************/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #changeView img { display: block; }
    #changeView a { display: none; }
    #bodyContainer { width: 80%; }
    #title h1 { padding-left: 82px; margin-bottom: 1rem; }
}
/* for changeView area only */
@media only screen and (min-width: 1024px) {
    #changeView { padding: 0 5px; }
    #changeView span { display: block; margin: 5px auto; }
    #changeView img { display: inline-block; width: 24px; margin: 0; }
    #changeView a { vertical-align: super; }
}
/****************************/
@media only screen and (min-width: 1024px) and (max-width: 1679px) {
    #bodyContainer { width: 70%; }
}
@media only screen and (min-width: 1680px) {
    #bodyContainer { width: 60%; }
}
@media screen {
    .no-show, { display: none !important; }
}
@media print {
    .no-print, .no-print * { display: none !important; }
    .page-break { page-break-after: always; }
}
.page-footer {
    position: fixed;
    bottom : 0;
}