<section class="heading" 
         style="page-break-after: always; position: absolute; left: 0; right: 0; bottom: -100%; text-align: center">
    <div class="info">
        <ul class="horizontal">
            <a href="https://www.google.com/maps/place/Medina+OH">
                <li>Dmitrii Serikov<i class="fa fa-certificate"></i></li>
            </a>
            <li><a href="tel:+1-216-970-9071">(216) 970-9071</a><i class="fa fa-certificate"></i></li>
            <li><a href="mailto:dmitrii.serikov@gmail.com">dmitrii.serikov@gmail.com</a></li>
        </ul>
    </div>
</section>