<!DOCTYPE html>
<html ng-app="Resume">
    <head>
        <!--meta-->
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta http-equiv="encoding" content="utf-8">
        <!-------------------------------------------------------->
        <link rel="shortcut icon" href="images/icon.png">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!--styles-->
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <!--scripts-->
        <!--<script src="http://localhost:35729/livereload.js"></script>-->
        <script src="lib/angular/angular.min.js"></script>
        <script src="lib/jquery/dist/jquery.min.js"></script>
        <script src="lib/velocity/velocity.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/scripts.js"></script>
        <!--title-->
        <title>Dmitrii Serikov | Resume</title>
        <!-- no enabled javascript -->
        <noscript>Your browser does not support JavaScript!</noscript>
    </head>
    <body>
        <div id="bodyBackground"></div>        
        <div id="changeView" class="no-print" title1="Printable view">
            <span ng-click="$root.changeView()">
                <img src="images/print-preview.png"/>
                <a>{{$root.goToViewTitle}}</a>
            </span>
            <span ng-click="$root.downloadPDF()">
                <img src="images/pdf.ico"/>
                <!--#26b3f7-->
                <a href="" style="color: rgb(207, 61, 62)">PDF version</a>                
            </span>
            <span ng-click="$root.downloadDOCX()">
                <img src="images/word-docx.png"/>
                <!--rgb(201, 202, 178)-->
                <a href="" style="color: rgb(34, 78, 156)">Word(docx) version</a>
            </span>
        </div>        
        <div id="bodyContainer">
            <section class="heading">
                <div id="title">
                    <img id="avatar" class="no-print" src="images/avatar.jpg" alt="My photo"/>
                    <a href="https://github.com/DmitriiSer/"><h1>DMITRII SERIKOV</h1></a>
                </div>                
                <div class="info border-tb">
                    <ul class="horizontal">
                        <a href="https://www.google.com/maps/place/Medina+OH">
                            <li>3929 Barrington Dr.<i class="fa fa-certificate"></i></li>
                            <li>Medina, OH 44256<i class="fa fa-certificate"></i></li>
                        </a>
                        <li><a href="tel:+1-216-970-9071">(216) 970-9071</a><i class="fa fa-certificate"></i></li>
                        <li><a href="mailto:dmitrii.serikov@gmail.com">dmitrii.serikov@gmail.com</a></li>
                    </ul>
                    <hr>
                </div>
            </section>
            <!--heading-->
            <section id="objective">
                <div id="role">
                    <h3>Software Developer</h3>
                    <p>A performance-driven Software Developer with a solid understanding of the Object Oriented Principles who can work on a problem and solve it. Always learning new technologies and concepts and trying to experiment with them.</p>
                </div>
                <div class="border-tb"><h3>Specialties</h3></div>
                <div ng-controller="BadgeController" on-before-print="onBeforePrint()" on-after-print="onAfterPrint()">
                    <table id="table_badges"
                           class="no-print toggle-no-show">
                        <tr ng-repeat="row in updateData()">
                            <td class="toggle-text-align"
                                colspan="{{(item.colspan != undefined) ? item.colspan : ''}}"
                                width="{{item.width}}"
                                style="text-align: center"
                                ng-repeat="item in row.col">
                                <span style="text-decoration: none">{{item.name}}</span>:
                                <!-- animated version -->
                                <ul class="badge-container no-print"
                                    size="{{(item.size) ? item.size : 64}}"
                                    shape="{{(item.shape === undefined) ? '' : item.shape}}">
                                    <li class="badge"
                                        size="{{(badge.size) ? badge.size : (item.size) ? item.size : 64}}"
                                        ng-repeat="badge in item.badges">
                                        <a href="{{badge.href}}" target="_blank" title="{{(badge.tooltip === undefined) ? badge.title : badge.tooltip}}">
                                            <div class="background"                                             
                                                 style="{{backgroundStyle(badge)}}"
                                                 ng-hide="badge.no_image"></div>
                                            <div class="inner">
                                                <img ng-hide="badge.no_image" ng-src="{{$root.imageSrc(badge)}}"/>
                                                <div ng-class="{center: badge.no_image}">{{badge.title}}</div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                    <table id="table_text" class="no-show toggle-no-show">
                        <tr ng-repeat="row in updateData()">
                            <td
                                colspan="{{(item.colspan != undefined) ? item.colspan : ''}}"
                                width="{{item.width}}"
                                style="text-align: left"
                                ng-repeat="item in row.col">
                                <span style="text-decoration: underline">{{item.name}}</span>:
                                <!-- printable version -->
                                <ul class="angle-double-right">
                                    <!--ng-show="$root.printable"-->
                                    <li ng-repeat="badge in item.badges">
                                        <a href="{{badge.href}}" title="{{(badge.tooltip === undefined) ? badge.title : badge.tooltip}}">
                                            {{badge.title}}
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>                
            </section>
            <div class="page-break"></div>
            <!--objective-->
            <section id="experience">
                <div class="border-tb" style="border-color: #2e2442">
                    <h3>Professional Experience</h3>
                </div>
                <div ng-controller="ExperienceController">
                    <h4 style="border-color: #2e2442">
                        <a href="http://www.ackye.ru/en/">Engineering Centre "ENERGOAUDITCONTROL", LLC - Saint-Petersburg, Russia</a>
                    </h4>
                    <h5>{{data.role}}</h5>
                    <h5>Key Results:</h5>
                    <ul class="normal angle-double-right">
                        <li ng-repeat="key in data.key_results">{{key}}</li>
                    </ul>
                </div>
            </section>
            <!--experience-->
            <section id="education">
                <div class="border-tb"><h3>Education / Certification / Projects</h3></div>
                <div class="border-b">
                    <h4>Education</h4>
                    <h5>The Bonch-Bruevich Saint-Petersburg State University of Telecommunications - Saint-Petersburg, Russia</h5>
                    <p>
                        <small>
                            Specialist Degree / Information Systems – 2009<br/>
                            (US equivalent: B.S. Computer Science)
                        </small>
                    </p>
                </div>
                <div>
                    <h4>Certification</h4>
                    <h5>Oracle Certified Associate, Java SE 7 Programmer — Dec, 2014</h5>
                </div>
                <footer-element class="page2 no-show"></footer-element>
                <div class="border-b"></div>
                <div id="projects">
                    <h4>Projects</h4>
                    <ol id="project-list" class="normal"
                        reached-to-bottom="loadMoreProjects(1)"
                        ng-controller="ProjectsController">
                        <li ng-repeat="project in filtered = (data| filter: query | limitTo : projectsToShow
                                        )">
                            <h5 class="less-margin">{{project.title}}
                                <span style="font-weight: normal" ng-show="project.link && project.tooltip">
                                    (<i><u><a href="{{project.link}}" title="{{project.tooltip}}">{{project.link}}</a></u></i>)
                                </span>
                            </h5>
                            <small>
                                <i>
                                    <!--<div ng-show="project.description"><u>Description:</u><br/></div>-->
                                    <h6 ng-show="project.description">{{project.description}}</h6>
                                </i>
                            </small>
                            <small class="no-print" ng-hide="$root.printable">
                                <i>
                                    <div class="technology"
                                         ng-repeat="techs in project.techs">
                                        <div class="technology-title-span"
                                             ng-show="techs.length > 0"><u>{{techTitles[$index]}}:</u></div>
                                        <span class="technology-span"
                                              ng-class="{first:$first}"
                                              style="padding-left: {{(tech.no_image) ? '10' : '0'}}px"
                                              ng-repeat="tech in techs">
                                            <img class="technology-badge"
                                                 title="{{tech.title}}"
                                                 ng-src="{{$root.imageSrc(tech)}}"
                                                 ng-hide="{{tech.no_image}}"/>
                                            <span title="{{tech.title}}"
                                                  style="display: inline-block; height: 24px; vertical-align: {{((tech.no_image) ? 'sub' : 'initial')}}">{{tech.title}}</span>
                                        </span>
                                    </div>
                                </i>
                            </small>
                            <hr ng-show="$index < filtered.length - 1">
                        </li>
                    </ol>
                </div>
            </section>
            <!--education-->
        </div>
    </body>
</html>